@font-face {
  font-family: 'SV';
  src: url('/Filxgirl.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
    background-color: pink;
}
.block{
    background-color: white;
    border-radius: 10px;
    margin: 10%;
    height: 300px;
    box-shadow: 3px 3px 3px rgba(142, 142, 142, 0.7);
}
.yes{
    background-color: pink;
    border-radius: 3px;
    color: white;
    border: 0px;
    width: 200px;
    margin: 50%;
    text-shadow: 3px 3px 3px rgba(142, 142, 142, 0.7);
    box-shadow: 3px 3px 3px rgba(142, 142, 142, 0.7);
}
.no{
    position: relative;
    transition: transform 0.15 ease;
    background-color: black;
    border-radius: 3px;
    color: white;
    border: 0px;
    width: 200px;
    margin: 50%;
    text-shadow: 3px 3px 3px rgba(142, 142, 142, 0.7);
    box-shadow: 3px 3px 3px rgba(142, 142, 142, 0.7);
}
.align{
    display: flex;
    justify-content: space-around;
    padding-right: 15%;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    font-family: 'SV', sans-serif;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding-top: 20px;
}
p{
    font-family: 'SV', sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    padding-top: 20%;
}
img{
    position: absolute;
    top: 5%;
    left: -30%;
    z-index: -2;
    width: 50%;
}
.coeur{
    position: absolute;
    top: 5%;
    left: 80%;
    z-index: -2;
    width: 50%;
}
.coeur2{
    position: absolute;
    top: 5%;
    left: 25%;
    z-index: -2;
    width: 50%;
}
h5{
    position: absolute;
    left: 84%;
    top: 95%;
}